/* Add custom css styles here */

.mask {
    width: 700px;
    height: 250px;
    border-radius: 5%;
}

.bg-image {
    display: flex;
    justify-content: center!important;
    align-items: center!important;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cookie-bg-img {
    border-radius: 50%;
}

.main-cookie-text {
    width: 85%;
    text-align: center;
}

.main-text {
    margin-bottom: 4%;
}